[tool.poetry]
name = "uranus_bot"
version = "2.1.0"
description = "An all-in-one bot that provide useful services for Xiaomi users on Telegram and Discord."
authors = ["yshalsager <ysh-alsager@hotmail.com>"]

[tool.poetry.dependencies]
python = "^3.8"
beautifulsoup4 = "^4.11.1"
Telethon = "1.24.0"
cryptg = "^0.3"
Pillow = "^9.2.0"
PyYAML = "^6.0"
aiohttp = { extras = ["speedups"], version = "^3.7.4" }
sentry-sdk = "1.9.4"
aiocontextvars = "^0.2.2"
"discord.py" = "^1.7.1"
orangefoxapi = { git = "https://gitlab.com/yshalsager/python-api-lib.git", rev = "poetry" }
SQLAlchemy = "^1.4.40"

[tool.poetry.dev-dependencies]
pytest = "^7.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
